*{
  border: 1px solid red !important;
}

.navbar {
  position: relative;
  display: flex;
  padding: 0.5rem 1rem;
}
.nav-ul{
  display: inline; /*Horz_menu / block Vert_menu*/
  background: yellow;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-li{
  display: inline; /*Horz_menu / block Vert_menu*/
  padding: 0em 1.0em;
  color: #464a4c;
  background-color: #fff;
  text-align: center;
}
.main-img{
  position: absolute;
  top: 7rem;
  right: 3rem;
  max-height: 362px;
  width: 400;
  z-index: 3;
}
