  body {
    font-size: 20px;
    color: #212529;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .top-body {
    padding:1px 0px 1px; 
    margin:10px 0 10px;
    /*border-bottom:1px solid #eee;*/
    /*background-color: #0cecec;*/
    color: #3c16e6;
    text-align: center;
    font-weight: 200;
    background-repeat: repeat;
    background-image: url('../img/home-bg3.jpg');
  }  
  
  .page-header {
    padding-bottom:9px;
    margin:40px 0 20px;
    border-bottom:1px solid #eee;
  } 

  .jumbotron {
    padding: 0.5rem 0.5rem;
    margin-bottom: 1.5rem;
    background-color: #eceeef;
    border-radius: 0.3rem;   
  }  
  .jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;

} p {
    line-height: 1.5;
    margin: 10px 0;
    font-size: 15px;
  }

  p a {
    text-decoration: underline;
  }
  
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  h1 {
    color: #00070c;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25em;
    margin: 0.5em 0;
  }  
  h2 {
    color: #1946da;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25em;
    margin: 0.5em 0;
  }
  h3 {
    color: #f50c0c;
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #212529;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  a:focus, a:hover {
    color: #0085A1;
  }

  .btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
  }

  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33%;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }